/node_modules
/vendor
/.env
/.idea
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/logs
/storage/framework/sessions
/storage/framework/views
/.vscode
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
.DS_Store